.flex-row-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-column-even {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}